header {
    background: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

form {
    margin-bottom: 20px;
}

input {
    margin: 0 5px;
    padding: 8px;
}

button {
    padding: 8px 12px;
    cursor: pointer;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

button.edit {
    background-color: #ffa500;
    color: white;
}

button.delete {
    background-color: #ff4d4d;
    color: white;
}
.product-image {
    width: 80px; /* Ajusta el tamaño de la imagen según tus necesidades */
    height: 80px; /* Ajusta el tamaño de la imagen según tus necesidades */
    margin-left: 5px; /* Espacio entre el texto y la imagen */
}
#product-table th, #product-table td {
    text-align: center; /* Centrar texto en encabezados y celdas */
    margin-bottom: 40px;
}

