/* Estilos generales del sitio */
:root {
  --main-color: #ffffff;
  --primary-bg: #007bff;
  --secondary-bg: #333333;
  --hover-color: #ff6600;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
}

.main-header {
  background-color: var(--primary-bg);
  padding: 10px 0;
  width: 100%;
}

nav {
  display: flex;
  justify-content: center; /* Centra el menú */
}

.navigation {
  list-style-type: none; /* Eliminar los puntos de lista */
  display: flex; /* Mostrar los elementos en línea */
  justify-content: space-around; /* Espacio uniforme entre los elementos */
  margin: 0;
  padding: 0;
}

.navigation li {
  padding: 10px;
}

.navigation a {
  text-decoration: none; /* Eliminar el subrayado */
  color: white; /* Color de texto */
  font-size: 18px; /* Tamaño de la fuente */
  font-weight: 400; /* Peso de la fuente */
  padding: 10px;
  display: block;
  transition: all 0.3s ease; /* Transición suave al pasar el ratón */
  text-transform: uppercase; /* Poner en mayúsculas */
}

.navigation a:hover {
  background-color: #0056b3; /* Color de fondo cuando se pasa el ratón */
  border-radius: 5px; /* Bordes redondeados */
}


/* Estilos de la página y pie de página */
main {
  padding: 20px;
}

footer {
  text-align: center;
  padding: 10px;
  background-color: var(--primary-bg);
  color: var(--main-color);
  position: fixed;
  bottom: 0;
  width: 100%;
}

/* Estilos para pantallas más pequeñas */
@media screen and (max-width: 768px) {
  .navigation {
    flex-direction: column;
    align-items: center; /* Centra los elementos verticalmente en pantallas pequeñas */
  }

  .navigation li {
    margin: 10px 0;
  }

  .navigation a {
    padding: 15px;
    font-size: 16px;
  }
}
